
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Debate web app</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/debateroom.js"></script>
</head>

<script>
  var roomNum = <%=room_id%>
  var userType = <%=type%>
</script>

<body ng-app="myApp" ng-controller="myCtrl">
<div class="container">
  <div class="panel-group">


    <div class="panel panel-primary">

      <h2 class="panel-heading"><center>토론장</center></h2>
      
      <div class="panel-body">
        
        <table class="table grid table-bordered">

        <tr>
          <td>


              <div class="panel panel-info">
                <div class="panel-heading text-nowrap text-center">
                  토론방 목록
                </div>
              </div>

              <div class="panel panel-info">
                <div class="panel-heading text-nowrap text-center">
                  방 만들기
                </div>
              </div>

          </td>

          <td>
            <div class="panel panel-danger">
            <div class="panel-heading text-center"> 토론 채팅</div>
            <div class="panel-body">

             <textarea class="form-control noresize" id="allChat" ng-model="debateChat" readonly> example </textarea>

             <p><input type="text" id="inputDebate" ng-model="inputDebateChat" disabled>
             <button type="button" id="inputDebateBtn" ng-click="sendDebateChat()" class="btn btn-basic" disabled>보내기</button></p>
            
            </div>
          </td>  

          <td>
            <div class="panel panel-primary">
            <div class="panel-heading text-center">팀 채팅</div>
            <div class="panel-body">

             <textarea class="form-control noresize" id="memChat" ng-model = "teamChat" readonly></textarea>

             <p><input type="text" ng-model="inputTeamChat">
             <button type="button" class="btn btn-basic" ng-click="sendTeamChat()">보내기</button></p>

            </div>
          </td>

          <td> 나 : {{ my }}

            <div class="panel panel-info text-nowrap">
              <div class="panel-heading text-center">토론방 정보</div>
              <div class="panel-body text-center">

                <p>참여자 명단 </p>
                
                <p>찬성측</p>
                  <ul>
                  <li ng-repeat="user in true_user track by $index">
                    {{ user }}
                  </li>
                </ul>
                <br>

                <p>반대측 </p>
                <ul>
                  <li ng-repeat="user in false_user track by $index">
                    {{ user }}
                  </li>
                </ul>

              </div>
            </div>

          </td>
        </tr>
        </table>     
        

      </div>
    </div>

  </div>
</div>

</body>
</html>
