<!DOCTYPE html>
<html>
  <head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/ind.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="myCtrl">
	<h1>Chat</h1>
	<textarea readonly=true ng-model="chatLog"></textarea>

	<h4>Msg</h4>
	<input type="text" ng-model="msg"/>
	<button ng-click="click()">찬</button>
	<button ng-click="clickd()">반</button>

	<br>
	<br>

	"찬성 측"<br>
	<ul>
		<li ng-repeat="user in true_user">
			{{ user }}
		</li>
	</ul>

	"반대 측"<br>
	<ul>
		<li ng-repeat="user in false_user">
			{{ user }}
		</li>
	</ul>

  </body>
</html>
