<!DOCTYPE html>
<html lang="en">
<head>
  <title>Debate web app</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="mystyle.css">

</head>
<body>
 
<div class="container">
  <div class="panel-group">


    <div class="panel panel-primary">

      <h2 class="panel-heading"><center>토론방 목록</center></h2>
      
      <div class="panel-body">
        
        <table class="table grid table-bordered">

        <tr>
          <td>
            첫번째 공간

              <div class="panel panel-primary">
                <div class="panel-heading text-nowrap text-center">
                  토론방 목록
                </div>
              </div>

              <div class="panel panel-info">
                <div class="panel-heading text-nowrap text-center">
                  방 만들기
                </div>
              </div>


              <div class="panel panel-info">
                <div class="panel-heading text-nowrap text-center">
                  토론장
                </div>
              </div>


              <div class="panel panel-info">
                <div class="panel-heading text-nowrap text-center">
                  결과
                </div>
              </div>

          </td>

          <td>
            두번째 공간
            
            <p class="btn-group btn-group-justified">
            <a href="#" class="btn btn-success">
            참가가능
            </a>
            </p>


            <p class="btn-group btn-group-justified">
            <a href="#" class="btn btn-warning">
            진행중
            </a>
            </p>

            <p class="btn-group btn-group-justified">
            <a href="#" class="btn btn-default">
            방 만들기
            </a>
            </p>


          </td>  

          <td>3번째 공간

            <div class="panel panel-info text-nowrap">
              <div class="panel-heading text-center">토론방 정보</div>
              <div class="panel-body">
                <p>방ID: </p>
                <p>제목: </p>
                <p>토론방식:</p>
                <p>현제인원: </p>
                <p>적정인원: </p>
                <p>상태: </p>
              </div>
            </div>
            
            <h1 class="text-center">
            <button type="button" class="btn btn-basic">

              <div class="radio">
              <label><input type="radio" name="optradio">찬성측</label>
              </div>

              <div class="radio">
              <label><input type="radio" name="optradio">반대측</label>
              </div>
              <div class="radio">
              <label><input type="radio" name="optradio">관전하기</label>
              </div>
            선택 후 입장
            </button>
            </h1>

            <h1 class="text-right">
            <button type="button" class="btn btn-basic">
              refresh
            </button>
            </h1>

          </td>
        </tr>
        </table>     
        

      </div>
    </div>

  </div>
</div>

</body>
</html>