<!DOCTYPE html>
<html lang="en">
<head>
  <title>Debate web app</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


</head>
<body>
 
<div class="container">
  <div class="panel-group">


    <div class="panel panel-primary">

      <h2 class="panel-heading"><center>토론방 생성</center></h2>
      
      <div class="panel-body">

        <table class="table grid table-bordered">

        <tr>
          <td>
            첫번째 공간

              <div class="panel panel-info">
                <div class="panel-heading text-nowrap text-center">
                  토론방 목록
                </div>
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading text-nowrap text-center">
                  방 만들기
                </div>
              </div>


              <div class="panel panel-info">
                <div class="panel-heading text-nowrap text-center">
                  토론장
                </div>
              </div>


              <div class="panel panel-info">
                <div class="panel-heading text-nowrap text-center">
                  결과
                </div>
              </div>

          </td>

          <td>
            <form>
              <div class="form-group">
                <label for="title">제목:</label>
                <input type="titlename" class="form-control" id="title">
              </div>

              <div class="form-group">
                <label for="topic">토론 주제:</label>
                <input type="topicname" class="form-control" id="topic">
              </div>

              <div class="form-group">
                  <label class="control-label">토론 형식:</label>
                  <div class="selectContainer">
                      <select class="form-control" name="color">
                          <option value="">Choose a color</option>
                          <option value="black">Black</option>
                          <option value="green">Green</option>
                          <option value="red">Red</option>
                          <option value="yellow">Yellow</option>
                          <option value="white">White</option>
                      </select>
                  </div>
              </div>

            </form>


          </td>  

          <td>3번째 공간

            <div class="panel panel-info text-nowrap">
              <div class="panel-heading text-center">토론방 정보</div>
              <div class="panel-body">
                <p>방ID: </p>
                <p>제목: </p>
                <p>토론방식:</p>
                <p>현제인원: </p>
                <p>적정인원: </p>
                <p>상태: </p>
              </div>
            </div>
            
            <h1 class="text-center">
            <button type="button" class="btn btn-basic">

              <div class="radio">
              <label><input type="radio" name="optradio">찬성측</label>
              </div>

              <div class="radio">
              <label><input type="radio" name="optradio">반대측</label>
              </div>
              <div class="radio">
              <label><input type="radio" name="optradio">관전하기</label>
              </div>
            선택 후 생성
            </button>
            </h1>

            <h1 class="text-right">
            <button type="button" class="btn btn-basic">
              뒤로가기
            </button>
            </h1>

          </td>
        </tr>
        </table>     
        

      </div>
    </div>

  </div>
</div>

</body>
</html>